

NET "rgb[0]" LOC = U7;
NET "rgb[1]" LOC = V7;
NET "rgb[2]" LOC = N7;
NET "rgb[3]" LOC = P8;
NET "rgb[4]" LOC = T6;
NET "rgb[5]" LOC = V6;
NET "rgb[6]" LOC = R7;
NET "rgb[7]" LOC = T7;
NET "sw" LOC = T10;
NET "btnd" LOC = C9;
NET "mclk" LOC = V10;
NET "hsync" LOC = N6;
NET "vsync" LOC = P7;
NET "RxD" LOC = N17;
#NET "RxD" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated physical constraints 

NET "TxD" LOC = N18;

